/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Roboto&family=Crafty+Girls&display=swap');


 body {
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/000/589/609/small/pixel-art-cheeseburger-seamless-background.png");
    color: #420039;
    font-family: 'Roboto', sans-serif;
 }

 h1 {
     font-family: 'Crafty Girls', cursive;
     background-color: rgba(236, 172, 236, 0.5);   
 }
.writing_area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.stats_display {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.blog_display {
    display: flex;
    flex-direction: column;
    align-items: center;
}
a:link {
    color: #556f7a;
}
a:visited {
    color: maroon;
}
a:hover {
    color: #2e6171;
}

table {
border: 1px solid #420039;
background: rgba(236, 172, 236, 0.8);
border: 2px solid #420039;
padding: 5px;
}
td {
padding: 5px;
}
th {
font-family: 'Architects Daughter', cursive;
background: #420039;
border: 2px solid #420039;
padding: 8px;
color: #EDE8EB;
}

body {
    background-image: url("https://cdn.lowgif.com/medium/34d3c9de6d288d6a-rainbow-colors-glitter-background-pattern-starry-night-seamless-7380.gif") ;
    display: flex;
    justify-content: center;
    align-items: center; 
}
h2 {
    font-family: 'Crafty Girls', cursive;
    font-size: 2em;
    color:white;
}
.bulletinboard {
    background-image: url("https://thumbs.dreamstime.com/t/cork-texture-colored-background-abstract-background-89282829.jpg");
    border: 10px solid #d1368e;
    box-shadow: 5px 5px 20px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.notesarea {            
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
    padding: 20px;
}
.note{
    background-image: url("https://previews.123rf.com/images/venski/venski1710/venski171000002/87809296-rainbow-leopard-spots-seamless-pattern.jpg");
    background-size: 150px 150px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    word-wrap: normal;
    overflow-wrap: break-word;
    border: 1px solid black;
    height: 150px;
    width: 150px; 
    box-shadow: 2px 2px 5px black;
    font-family: 'Crafty Girls', cursive;
}
.sticker {
    max-height: 200px;
    width: auto;
}